/* FOOTER */
footer{
  background-color: rgb(22, 22, 22);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(79, 79, 79);
}

footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

@media (max-width: 768px) {
  footer{
    font-size: 0.8rem;
  }
}