/* Hide all error messages completely */
#_form_1_ ._error,
#_form_1_ ._error-inner,
#_form_1_ ._form_error {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

#_form_1_ ._form-thank-you {
  color: white !important;
  width: 100%;
  background-color: rgba(111, 111, 111, 0.294);
  border: solid 1px grey;
  padding: 10px 10px;
}



@media (max-width: 600px) {
  #_form_1_ ._x72985215 ._row {
    display: flex !important;
  }

  #_form_1_ ._x72985215 ._checkbox-radio {
    margin-top: 10px;
  }

  #_form_1_ ._x72985215 label {
    display: flex !important;
    vertical-align: middle;
    margin-left: 4px;
  }

  #_form_1_ ._x72985215 input[type="checkbox"] {
    margin-bottom: 8px;
  }
}








